<div class="container mt-3 text-center mx-auto">

    <div class="row">
        <div class="col mx-auto">
            <h1 id="title" class="display-3">What happened?!</h1>
            <hr id="separator" />
            <button id="scrape" class="btn btn-lg btn-success p-1 mt-2" type="submit">Get me some news!</button>
            <button id="delete" class="btn btn-lg btn-danger text-white p-1 mt-2" type="submit">Delete the
                news!</button>
            <a href="/saved-articles" class="btn btn-lg p-1 btn-info mt-2">Go to saved articles</a>
        </div>
    </div>

    <div class="row mt-5 mb-5 text-center ml-auto mr-auto">
        <div class="col">
            <div class="card-columns">
                {{#each data}}
                    <div id="news-articles" class="card mt-2" style="width: 18rem;">
                        <div class="card-body">
                            <a class="card-link" href="https://www.nytimes.com{{url}}" target='_blank'><h5 class="card-title article-title">{{title}}</h5></a>
                            <p class="card-text">{{summary}}</p>
                            <button class="btn btn-info save-button p-1" type="submit" data-id={{_id}}>Save Article</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

</div>