<h1>What happened?!</h1>

<div class="row">
    <div class="col">
        <button type="submit">Get me some news!</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <div id="news-NYT"></div>
    </div>
</div>
