<h1>What happened?!</h1>

<div class="row mb-4">
    <div class="col">
        <a href="/saved-articles">Go to saved articles</a>
     </div>
</div>

<div class="row">
    <div class="col">
        <button id="scrape" class="btn btn-lg btn-success" type="submit">Get me some news!</button>
        <button id="delete" class="btn btn-lg btn-danger text-white ml-3" type="submit">Delete the news!</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <div id="news-articles">
            {{#each data}}
                <div class="row">
                    <div class="col">
                        <a href="https://www.nytimes.com{{url}}" target='_blank'>
                            <h4>{{title}}</h4>
                        </a>
                        <p>{{summary}}</p>
                        <button class="btn btn-warning save-button mb-5" type="submit" data-id={{_id}}>Save Article</button>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>